# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

name: My Pipeline

trigger:
 branches:
    include:
      - master
 paths:
    include:
      - hello.py/**

pool:
 vmImage: 'ubuntu-latest'

steps:
- script: echo Hello World!
 displayName: "Print Hello World!"
